@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #323232;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

h1 {
  color: whitesmoke;
  font-size: 60px;
  text-align: center;
}

h1 {
  font-family: 'Silkscreen', cursive;
}